/* * Global * */
:root{
    --aqua:#10cab7;
    --mainmargin:60px;
    --mainpadding:30px;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Outfit', sans-serif;
    font-family: 'Work Sans', sans-serif;
    background-color: #fff;
}
.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width:768px) {
    .container{
        width:750px;
    }
}

@media (min-width:992px){
    .container{
        width: 970px;
    }
}

@media (min-width:1200px){
    .container{
        width: 1170px;
    }
}
/* * Global * */

/* * HEADER-START */
header{
    padding: 20px;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 60px;
}

header .links{
    position: relative;
}

header .links .nav{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

header .container .links .nav span{
    background-color: black;
    margin-bottom: 5px;
    height: 2px;
    border-radius: 2px;
}

header .container .links .nav span:first-child{
    height: 3px;
    width: 100%;
}
header .container .links .nav span:nth-child(2){
    height: 3px;
    width: 50%;
    transition: 0.4s;
}

header .links:hover .nav span:nth-child(2){
    width: 100%;
}

header .container .links .nav span:last-child{
    height: 3px;
    width: 100%;
}

header .container .links ul{
    list-style: none;
    margin: 0;
    padding: 0;
    min-width: 200px;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    top: calc(100% + 15px);
    border-radius: 5px;
    display: none;
    
}

header .container .links ul::before{
    content: '';
    border-width: 10px;
    border-style:solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    top: -19px;
    right: 5px;
}

header .container .links ul li a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    transition: 0.4s;
}

header .container .links ul li:not(:last-child){
    border-bottom: 1px solid #ddd;
}
header .container .links ul li a:hover{
    padding-left:20px;
    color:var(--aqua);
}

header .links:hover ul{
    display:block ;
}

/* * HEADER-END */

/* *  START LANDING */

.landing{
    background-image: url(/asseets/landing.jpg);
    height:calc(100vh - 64px);
    background-size:cover;
    position: relative;
    z-index: -1;
}

.inner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 320px;
    max-width: 100%;
}

.landing h1{
    margin: 0;
    text-align: center;
    font-size: 50px;
    font-style: bold;
    color: var(--aqua);
}

.landing p{
    text-align: center;
    line-height:1.8;
    font-size: 18px;
    font-weight: bold;
}
/* *  END LANDING */

/* * START FEATURES */

.features{
    margin-top: var(--mainmargin);
    /* margin-bottom: 60px; */
    padding: var(--mainpadding);
    background-color: #f6f6f6;
}

.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr)); 
    justify-content: center;
    grid-gap: 25px;
}

.features .container .feat{
    padding: 20px;
    text-align: center;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.features .container .feat:hover{
    transform: scale(1.07);
}

.features .container .feat i{
    font-size: 48px;
    color: var(--aqua);
    margin-bottom: 10px;
}

.features .container .feat h2{
    font-weight: 800;
}

.features .container .feat p{
    line-height: 1.8;
    padding: 10px;
    font-size:medium;
    color: #666;
}
/* * END FEATURES */

/**  START  SERVICES */
.special-heading{
    font-weight: 800;
    font-size: 100px;
    text-align: center;
    color: #ebeced;  
    letter-spacing: -8px;
    margin: 0; 
    /* padding: 0; */
}
.special-heading + p{
    text-align: center;
    margin-top: -30px;
    font-size: 20px;
    color: #797979;
}

@media (max-width: 767px){
    .special-heading{
        font-size: 70px; 
    }
    .special-heading + p{
        font-size: 12px;
        margin-top: -22px;
        text-align: center;
    }
}

.services-component, .portfolio-component{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr)); 
    justify-content: center;
    grid-gap: 25px;
    margin-top: 70px;
}

.srv{
    display: flex;
    margin-bottom:30px;
}

@media (max-width:767px)
{
    .srv{
        flex-direction: column;
        text-align: center;
    }
}
i{
    color:var(--aqua) ;
    font-size: x-large;
    font-weight: 500;
    flex-basis: 60px;

}

.srv h2{
    margin:0 0 20px;
}

.srv .text{
    flex:1;
}

.srv .text p{
    color: #444;
    line-height: 1.8;
    font-weight: 300;
}

.services-component .col  .image img{
    width: 260px;
}

.services-component .col  .image{
    position: relative;
}

.services-component .col .image::before{
    content:" ";
    width: 80px;
    height:calc(100% + 50px);
    position: absolute;
    background-color: #2c4755;
    top:-25px;
    right:40px;
    z-index: -1;
}

@media (max-width:1199px){
    .none{
        display: none;
    }
}

/* * PORTFOLIO START */
.portfolio-main{
    background-color: #f6f6f6;
    padding-top: 60px;
    padding-bottom:60px;
}

.portfolio-component{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 30px;
}
.portfolio-component .col{
    background-color: white;
    padding: 2%;
}
.portfolio-component img{
    max-width: 100%;
    width: 350px;
}

.portfolio-component .text{
    padding: 20px;
}

.portfolio-component .text h2{
    margin: 0;
}

.portfolio-component .text p{
    color: #444;
    line-height: 1.8;
    font-weight: 300;
    flex: 1;
}
/* * PORTFOLIO ENd */

/* *START ABOUT */
.about{
    padding-top: 60px;
    padding-bottom: 60px;
}

.about-component{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width:991px){
    .about .about-component{
        flex-direction: column;
        text-align: center;
    }
}

.about-component .image{
    position: relative;
    width: 250px;
    height: 375px;
}
.about-component .image img{
    max-width: 100%;
}

.about-component .image::before{
    content: "";
    position: absolute;
    background-color: #fafafa;
    width: 70px;
    height: 350px;
    left:-20px;
    top: -20px;
    z-index: -1;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.17);
}
.about-component .image::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 200px;
    left:220px;
    top: 10px;
    border-left:70px solid var(--aqua);
    border-bottom:50px solid var(--aqua);
    z-index: -1;
}

@media (max-width:991px){
    .about-component .image::before,
    .about-component .image::after{
        display: none;
    }

    .about-component .image{
        margin: 0 auto 20px;
    }
}

.about-component .text{
    flex-basis: calc(100% - 500px);
}

.about-component .text p:first-of-type{
    font-weight: bold;
    line-height: 1.8;
}

.about-component .text hr{
    width: 50%;
    height: 1px;
    background-color: var(--aqua);
}

@media (max-width:991px){
    .about .about-component .text hr{
        margin: 0 auto;
    }
}
.about .about-component .text p:last-of-type{
    line-height: 1.7;
    color: #777;
}

/* *END ABOUT */

/* *START contact */
.contact{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f9f9f9;
}

.contact .contact-component{
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center ;
}

.contact .label{
    font-size: 35px;
    font-weight: 800;
    color: #2c4755;
    letter-spacing: -2px;
    margin-bottom: 15px;
}

.contact .link{
    display: block;
    font-size: 30px;
    font-weight: 800;
    color: var(--aqua);
    text-decoration: none;
}

.contact .social{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 10px;
}

.contact .social i{
    margin-left:10px;
    color: #2c4755;
}

@media (max-width:767px){
    .contact .label{
        font-size: 30px;
    }
}
/* *END contact */

footer{
    background-color:#2c4755;
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}

footer span{
    font-weight: bold;
    color: var(--aqua);
}