/* * Global * */
:root{
    --aqua:#10cab7;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Outfit', sans-serif;
    font-family: 'Work Sans', sans-serif;
    background-color: #fff;
}
.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width:768px) {
    .container{
        width:750px;
    }
}

@media (min-width:992px){
    .container{
        width: 970px;
    }
}

@media (min-width:1200px){
    .container{
        width: 1170px;
    }
}
/* * Global * */

/* * HEADER-START */
header{
    padding: 20px;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 60px;
}

header .links{
    position: relative;
}

header .links .nav{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

header .container .links .nav span{
    background-color: black;
    margin-bottom: 5px;
    height: 2px;
    border-radius: 2px;
}

header .container .links .nav span:first-child{
    height: 3px;
    width: 100%;
}
header .container .links .nav span:nth-child(2){
    height: 3px;
    width: 50%;
    transition: 0.4s;
}

header .links:hover .nav span:nth-child(2){
    width: 100%;
}

header .container .links .nav span:last-child{
    height: 3px;
    width: 100%;
}

header .container .links ul{
    list-style: none;
    margin: 0;
    padding: 0;
    min-width: 200px;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    top: calc(100% + 15px);
    border-radius: 5px;
    display: none;
    
}

header .container .links ul::before{
    content: '';
    border-width: 10px;
    border-style:solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    top: -19px;
    right: 5px;
}

header .container .links ul li a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    transition: 0.4s;
}

header .container .links ul li:not(:last-child){
    border-bottom: 1px solid #ddd;
}
header .container .links ul li a:hover{
    padding-left:20px;
    color:var(--aqua);
}

header .links:hover ul{
    display:block ;
}

/* * HEADER-END */

/* *  START LANDING */

.landing{
    background-image: url(/asseets/landing.jpg);
    height:calc(100vh - 64px);
    background-size:cover;
    position: relative;
    z-index: -1;
}

.inner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 320px;
    max-width: 100%;
}
.landing h1{
    margin: 0;
    text-align: center;
    font-size: 50px;
    font-style: bold;
    color: var(--aqua);
}

.landing p{
    text-align: center;
    line-height:1.8;
    font-size: 18px;
    font-weight: bold;
}
/* *  END LANDING */

/* * START FEATURES */

.features{
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 30px;
    background-color: #f6f6f6;
}

.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr)); 
    justify-content: center;
    grid-gap: 25px;
}

.features .container .feat{
    padding: 20px;
    text-align: center;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.features .container .feat:hover{
    transform: scale(1.07);
}

.features .container .feat i{
    font-size: 48px;
    color: var(--aqua);
    margin-bottom: 10px;
}

.features .container .feat h2{
    font-weight: 800;
}

.features .container .feat p{
    line-height: 1.8;
    padding: 10px;
    font-size:medium;
    color: #666;
}
/* * END FEATURES */